<?php
/**
 * @link     https://github.com/old-town/workflow-zf2-toolkit
 * @author  Malofeykin Andrey  <and-rey2@yandex.ru>
 */

return [
    'workflow_zf2_toolkit' => [

        /**
         * Позволяет переопределить классы сущностей используемых в модуле OldTown\Workflow\ZF2\Toolkit.
         * Ключем является часть namespace сущности, начиная от OldTown\Workflow\ZF2\Toolkit\Entity
         * Например
         * DoctrineWorkflowStory\ExtEntry => MyClass::class
         */
        'entityMap' => [],

        /**
         * Метаданные используемые для получения id процесса wf(entryId).
         * Пример:
         * workflow_entry_to_object_metadata => [
         *     'key' => [
         *         'workflowManagerName'  => $workflowManagerName,
         *         'workflowManagerAlias' => $workflowManagerAlias,
         *         'workflowName'         => $workflowName,
         *         'routeName'            => $routeName
         *         'map' => [
         *              'key1' => [
         *                  'entityClassName' => $entityClassName,
         *                  'identifiersMap' => [
         *                     'key2' => [
         *                          'propertyName' => $propertyName,
         *                          'mode'         => 'param|query'
         *                          'paramName'    => $paramName
         *                     ]
         *                  ]
         *              ]
         *          ]
         *     ]
         * ]
         *
         * Необходимо помнить, что можно указать либо workflowManagerName, либо workflowManagerAlias.
         * В случае если укзать оба этих параметра, либо не указать ни один из них, будет брошено исключение.
         *
         * Где:
         * - $workflowManagerName  - имя менеджера workflow
         * - $workflowManagerAlias - псевдоним менеджера workflow
         * - $workflowName         - имя используемого workflow
         * - $entityClassName      - имя класса сущности которая привязывается к процессу wf
         * - $routeName            - имя роутера
         * - $propertyName         - имя свойства сущности(должен быть геттер и зеттер) являющиеся первичным ключем(или частью первичного ключа)
         * - $paramName            - имя параметра, по которому можно получить значение для $propertyName
         *
         *
         */
        'workflow_entry_to_object_metadata' => [
            
        ]
    ]
];
